._*
**/._*
.DS_Store
.env
.env.*
!.env.prod.example
node_modules
dist
coverage
.git
.husky
test
**/*.spec.ts
**/*.test.ts
.vscode
.idea
*.log
docker-compose.yml
docker-compose.prod.yml
Dockerfile
.dockerignore
deploy
postman
